<h1>Cadastro de Roupas</h1>
<div class="form-container">
    <form method="post">
        <div class="form-group">
            <label for="RPCodigo">Código</label>
            <input type="text" id="RPCodigo" class="form-control" ng-model="vm.Roupas.RPCodigo" required />
        </div>
        <div class="form-group">
            <label for="RPMarca">Marca</label>
            <input type="text" id="RPMarca" class="form-control" ng-model="vm.Roupas.RPMarca" required />
        </div>
        <div class="form-group">
            <label for="RPTipo">Tipo</label>
            <input type="text" id="RPTipo" class="form-control" ng-model="vm.Roupas.RPTipo" required />
        </div>
        <div class="form-group">
            <label for="RPCor">Cor</label>
            <input type="text" id="RPCor" class="form-control" ng-model="vm.Roupas.RPCor" />
        </div>
        <div class="form-group">
                <label for="RPValEtiq">Val Etiqueta</label>
                <input type="text" id="RPValEtiq" class="form-control" ng-model="vm.Roupas.RPValEtiq" />
        </div>
        <div class="form-group">
                <label for="RPValVenda">Val Venda</label>
                <input type="text" id="RPValVenda" class="form-control" ng-model="vm.Roupas.RPValVenda" />
        </div>
        <div class="form-group">
                <label for="RPValMarg">Val Margem (100%)</label>
                <input type="text" id="RPValMarg" class="form-control" ng-model="vm.Roupas.RPValMarg" />
        </div>
        <div class="form-group">
                <label for="RPPrcSug">Preço Sugerido</label>
                <input type="text" id="RPPrcSug" class="form-control" ng-model="vm.Roupas.RPValVenda" />
        </div>
        <div class="form-group">
            <button class="btn btn-primary" ng-click="vm.saveUser()">Save</button>
            <button class="btn btn-danger" ng-click="vm.deleteUser()">Delete</button>
        </div>
    </form>
</div>
